extends layout

block content
	div(class="container")
		div(class="three columns sidebar")
			nav
				img(src="http://www.balliol.ox.ac.uk/sites/default/files/microchip_seger.jpg")
				br
				br
				ul
					a(href="#me") Me
					br
					a(href="#latest") Latest
					br
					a(href="#research") Invited Talks
					br
					a(href="#publications") Publications
					br
					a(href="#contact") Contact

		div(class="twelve columns offset-by-five content")
			h1 Carl J. Seger

			hr(class="large")
			div(class="doc-section clearfix", id="me")
				h3 Me

				p 
					| Senior Principal Engineer, 
					a(href="http://www.intel.com/content/www/us/en/homepage.html") Intel
					br
					| Associate Professor, 
					a(href="http://www.ubc.ca/") University of British Columbia
					br
					| Assistant Professor, 
					a(href="http://www.cmu.edu/index.shtml") Carnegie Mellon University
					br 
					| Reviewer for CAV, ICCD, ICAD, DAC, IEEE Trans. CAD
					br
					br

					| I blah blah blah blah personal statement about interests blah blah. 

			hr(class="large")
			div(class="doc-section clearfix", id="latest")
				h3 Latest
				p
					| Carl Seger has been at Balliol throughout the academic year 2006/07 as an Oliver Smithies Lecturer and Visiting Fellow.
					| He is the Senior Principal Engineer and Chief Architect of the Integrated Design and Verification System at Intel
					| , where he is concerned with verifying hardware designs, i.e. proving the correctness of the computer chips produced by
					| Intel that power the majority of our PCs, notebooks, and servers.

			hr(class="large")
			div(class="doc-section clearfix", id="research")
				h3 Invited Talks
				p 
					li HUG’92 (HOL user’s group meeting) keynote talk: “Linking Model Checking and Theorem Proving” 
					li Intel’s Design and Test Technology Conference, 1995, invited external speaker: “Combining Model Checking and Theorem Proving”
					li ICCD’96, invited talk, “Formal Verification Making its way into industrial application”
					li ICCAD’96: Tutorial on formal verification
					li IFIP W.G. 2.9 1998 invited talk: “Combining BDDs and functional languages”
					li PROCOMET’98, keynote talk: “From lattices to practical formal hardware verification”
					li CAV’98, invited talk: “Combining theorem proving and model checking: How much theorem proving is needed?”
					li FMCAD’98, keynote talk:  “Formal methods in CAD from an industrial point of view”










