extends layout

block content
	div(class="container")
		div(class="three columns sidebar")
			nav
				img(src="http://www.balliol.ox.ac.uk/sites/default/files/microchip_seger.jpg")
				br
				br
				ul
					a(href="#me") Me
					br
					a(href="#latest") Latest
					br
					a(href="#professional") Professional
					br
					a(href="#publications") Publications
					br
					a(href="#research") Invited Talks
					br
					a(href="#contact") Contact


		div(class="twelve columns offset-by-five content")
			h1 Carl J. Seger
				div(id="contact-icons", style="font-size: 20px")
					i.icon-envelope-alt(style="padding-right: 20px")
						a(href="mailto:carl.seger@intel.com", style="text-decoration:none")   Email me  
					i.icon-linkedin-sign
						a(href="http://www.linkedin.com/pub/carl-seger/21/a6a/a7a", style="text-decoration:none")  Connect on Linkedin

			div(class="doc-section clearfix", id="me")
				h3 Me

				p 
					| Senior Principal Engineer, 
					a(href="http://www.intel.com/content/www/us/en/homepage.html", target="_blank") Intel
					br
					| Associate Professor, 
					a(href="http://www.ubc.ca/", target="_blank") University of British Columbia
					br
					| Assistant Professor, 
					a(href="http://www.cmu.edu/index.shtml", target="_blank") Carnegie Mellon University
					br 
					| Reviewer for CAV, ICCD, ICAD, DAC, IEEE Trans. CAD

			hr(class="large")
			div(class="doc-section clearfix", id="latest")
				h3 Latest
				p
					| Carl Seger has been at Balliol throughout the academic year 2006/07 as an Oliver Smithies Lecturer and Visiting Fellow.
					| He is the Senior Principal Engineer and Chief Architect of the Integrated Design and Verification System at Intel
					| , where he is concerned with verifying hardware designs, i.e. proving the correctness of the computer chips produced by
					| Intel that power the majority of our PCs, notebooks, and servers.

			hr(class="large")
			div(class="doc-section clearfix", id="professional")
				h3 Professional 
				p 
					h4 Senior Principal Engineer, Intel Corp. 
					| I currently set the direction for all of Intel's formal verification efforts, as well as supervise all
					| technical aspects of the design of Intel's formal verification tools. 

					br
					br

					h4 Strategic Project Leader, Intel Corp. 
					| I researched, designed, and supervised the implementation of a practical formal verification system.

					br
					br

					h4 Associate Professor, University of British Columbia
					| I performed research in formal methods and asynchronous circuits. I was also responsible for 
					| supervising Ph.D. and Master's students, as well as teaching computer architecture and formal methods classes. 

					br
					br

					h4 Research Associate, Carnegie Mellon University
					| I performed research in formal verification, delay modeling, and switch-level analysis, including implementing
					| a switch-level analysis program. 

			hr(class="large")
			div(class="doc-section clearfix", id="publications")
				h3 Publications 
				p
					h4 Books
						h5 "Asynchronous Circuits"
						b Brzozowski, Seger
						br
						| Springer Verlag's Research Monographs in Computer Science Series, 1994,	
						br
						| 424 pages and 212 figures
						br
						br

						h5 "Higher Order Logic Theorem Proving and its Applications"
						b Joyce, Seger
						br
						| Editors of Proceedings of the 6th International Workshop, HUG '93, 
						| Lecture Notes in Computer Science 780, Springer Verlag.
						br
						br
					h4 Chapter in Books
						h5 "Symbolic Trajectory Evaluation" in "Formal Hardware Verification Methods and Systems in Comparison" (T. Kropf, Ed)
						b Hazelhurst, Seger
						br
						| Springer-Verlag State of the Art Survey.  Lecture Notes in Computer Science 1287.
						br
						br
					h4 Refereed Journal Articles 
						h5 "An Industrially Effective Environment for Formal Hardware Verification"
						b C-J. Seger, R. Jones, J. O’Leary, T. Melham, M. Aagaard, C. Barrett, and D. Syme
						br
						| IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems, Vol. 24, No. 9, pp. 1381-1405, 2005
						br
						br

						h5 “Introduction to generalized symbolic trajectory evaluation”
						b J. Yang and C-J. Seger
						br
						| IEEE Transactions on Very Large Scale Integration (VLSI) Systems, Volume 11 ,  Issue 3  (June 2003) pp. 345 – 353,  2003
						br
						br

						h5 “Practical formal verification in microprocessor design”
						b Jones, R.B.; O'Leary, J.W.; Seger, C.-J.H.; Aagaard, M.D.; Melham, T.F.
						br
						| IEEE Design & Test of Computers, Volume 18,  Issue 4,  July-Aug. 2001 pp. 16 – 25
						br
						br

						h5 “Model checking lattices: using and reasoning about information orders for abstraction”
						b S. Hazelhurst and C-J. Seger
						br
						| Logic Journal of IGPL, Vol 7. No. 3, pp. 375-411. 1999.
						br
						br

						h5 "A Simple Theorem Prover Based on Symbolic Trajectory Evaluation and BDDs", IEEE Transactions on Computer-Aided Design"
						b S. Hazelhurst and C-J. Seger
						br
						| IEEE Transactions on Computer-Aided Design,  Vol. 14, No. 4, April 1995, pp. 413-422.
						br
						br

						h5 "Automatic Verification of Asynchronous Circuits"
						b Lee, T., Greenstreet, M., and Seger, C-J.
						br
						| IEEE Design and Test, Vol. 12, No. 1, pp. 24-31.
						br
						br

						h5 "Formal Verification by Symbolic Evaluation of Partially-Ordered Trajectories"
						b Seger, C-J. and Bryant R.
						br
						| Formal Methods in System Design, Vol. 6, March 1995, pp. 147-189.
						br
						br

						h5 "On the Existence of Speed-Independent Circuits"
						b Seger, C-J.
						br
						| Theoretical Computer Science, Vol. 86, November 1991, pp. 343-364.
						br
						br

						h5 "A Unified Framework for Race Analysis of Asynchronous Networks"
						b Brzozowski, J.A. and Seger, C-J.
						br
						| Journal of the ACM, Vol.36, No.1, January 1989, pp. 20-45.
						br
						br

						h5 "An Optimistic Ternary Simulation of Gate Races"
						b Seger, C-J. and Brzozowski, J.A.
						br
						| Theoretical Computer Science, Vol.61, No.1, October 1988, pp. 49-66.
						br
						br

						h5 "A Characterization of Ternary Simulation of Gate Networks"
						b Brzozowski, J.A. and Seger, C-J.
						br
						| IEEE Transactions on Computers, Vol.C-36, No.11, November 1987, pp. 1318-1327.
						br
						br

						h5 "Robust Storage Structures for Crash Recovery"
						b Taylor, D. and Seger, C-J.
						br
						| IEEE Transactions on Computers, Vol.C-35, No.4, April 1986, pp. 288-295.
						br
						br


			hr(class="large")
			div(class="doc-section clearfix", id="research")
				h3 Invited Talks
				p 
					h5 HUG, 1992 
					| Keynote talk: “Linking Model Checking and Theorem Proving” 
					br
					br
					h5 Intel’s Design and Test Technology Conference, 1995
					| Invited external speaker: “Combining Model Checking and Theorem Proving”
					br
					br
					h5 ICCD, 1996
					| Invited talk, “Formal Verification Making its way into industrial application”
					br
					br
					h5 ICCAD, 1996
					| Tutorial on formal verification
					br
					br
					h5 IFIP W.G. 2.9, 1998 
					| Invited talk: “Combining BDDs and functional languages”
					br
					br
					h5 PROCOMET, 1998
					| Keynote talk: “From lattices to practical formal hardware verification”
					br
					br
					h5 CAV, 1998
					| Invited talk: “Combining theorem proving and model checking: How much theorem proving is needed?”
					br
					br
					h5 FMCAD, 1998
					| Keynote talk:  “Formal methods in CAD from an industrial point of view”










